body {
  padding-top: 20px; /* Padding at the top */
  padding-bottom: 20px; /* Padding at the bottom */
  padding-left: 10px; /* Padding on the left */
  padding-right: 10px; /* Padding on the right */
}

html,
body {
  box-sizing: border-box; /* Include padding and border in the element's size */
}

*,
*:before,
*:after {
  box-sizing: inherit; /* Inherit box-sizing from the html and body element */
}

#map {
  width: 800px;
  height: 400px;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  opacity: 0.8;
}

#contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#scene {
  flex: 0 0 auto;
}

#albumTableContainer {
  flex: 1;
  margin-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4caf50; /* Dark green background */
  color: white; /* White text */
}

#albumTable th {
  background-color: #4caf50; /* Dark green background */
  color: white; /* White text */
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#prev,
#next {
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

#map-container {
  display: flex;
  flex-direction: column; /* Stack children (SVG and slider) vertically */
  align-items: center; /* Center children horizontally */
  margin-bottom: 20px; /* Optional: give some spacing below the container */
}

#scene {
  margin-bottom: 10px; /* Space between the map and the slider */
}

#year-slider-container {
  display: flex;
  align-items: center; /* Center the slider and label vertically */
  justify-content: center; /* Center the slider and label horizontally */
  width: 100%; /* Take full width of the parent container */
}

#year-slider {
  flex-grow: 1; /* Allow the slider to take the available space */
  margin-right: 10px; /* Space between the slider and its label */
}

#info-icon {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#info-card {
  width: 800px;
  display: none; /* Hidden by default */
}

#map-and-info {
  position: relative;
}

#info-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  cursor: pointer;
}

#info-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 5;
  width: 800px;
}

#year-slider-container {
  position: relative;
  z-index: 1;
}
